body {
    background-image: url("../../Assets/images/gravel.png");
    color: #777777;
}

#main {
    background-color: white; 
    position: absolute;
    width: 960px; 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
}
.about  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    font-weight: bold;
}

img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

#nav-bar {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    height: 60px

}

ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    right: 220;
    
    

}

li {
    float: right;
    padding: 10px;
    display: flex;
    align-content: center;
    padding: 20px;

}

.active {
    background-color: teal;
    color: white;
    font-weight: bold;
    position: absolute;
    top:0;
    bottom:0;
    padding: 20px;
    left: 220px;
    

}   

footer  {
    border-top: 10px solid teal;
    background-color: #666666;
    text-align: center;
    color: white;
    font-size: 10px;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

/* commands css for contact forms*/

input, textarea   {
    width: 100%;
    display: inline;
    padding: 10px;
    margin: 5px;
}

#submit {
    background-color: teal;
    padding: 10px;
    border-radius: 1px;
    color: white;
    align-content: center;
    width: 120px;
}

textarea   {
    height: 200px;
}



